/*_________________________________________________

CONFIGURAÇÕES GLOBAIS
_________________________________________________*/
/*-------------------------------------------------
FONTES
-------------------------------------------------*/
@import url(design/fontes.css);

/*-------------------------------------------------
CORES
-------------------------------------------------*/
@import url(design/cores.css);
* {
    margin: 0;
}

/*_________________________________________________

OUTRAS CONFIGURAÇÕES
_________________________________________________*/
/*-------------------------------------------------
BODY
-------------------------------------------------*/
body {
    width: 100%px;
    margin: auto;
}

header {
    padding: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*-------------------------------------------------
LINKS
-------------------------------------------------*/
a {
    text-decoration: none;
}