/*_________________________________________________

CONFIGURAÇÕES GLOBAIS
_________________________________________________*/
/*-------------------------------------------------
FONTES
-------------------------------------------------*/
@import url(design/fontes.css);

/*-------------------------------------------------
CORES
-------------------------------------------------*/
@import url(design/cores.css);


/*_________________________________________________

OUTRAS CONFIGURAÇÕES
_________________________________________________*/
/*-------------------------------------------------
BODY
-------------------------------------------------*/
body {
    max-width: 50%;
    padding: 20px;
}

/*-------------------------------------------------
LINKS
-------------------------------------------------*/
a {
    text-decoration: none;
}